PORT=3005
BASE_PATH=/sentinel
NODE_ENV=development

SENTINEL_PUBLIC_URL=https://security42.francecentral.cloudapp.azure.com/sentinel

AUTH_API_BASE_URL=https://auth-api.cad42.com
AUTH_API_SERVICE_CONSUMER_NAME=sentinel
AUTH_API_SERVICE_CONSUMER_SECRET=<vault smsi>

SENTINEL_DEV_AUTH_BYPASS=false

MONGO_URI=mongodb+srv://<user>:<pass>@<cluster>.mongodb.net/
MONGO_DB=unifield

MAILGUN_API_KEY=<key>
MAILGUN_DOMAIN=<domain>
MAILGUN_WEBHOOK_SIGNING_KEY=<signing_key>

ALERT_INTERVAL_MIN=10
ALERT_RECIPIENTS=ops@cad42.com
